@import "../../../themes/generated/variables.base";
@import "../../../dx-styles";

.header-component {
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .dx-toolbar {
    .dx-toolbar-items-container {
      background-color: $base-accent;
      color: #FFFFFF;
      height: $header-bar-height;
    }

    .dx-toolbar-item {
      &.header-menu-bar {
        padding-left: 100px;
      }
    }
  }

  .dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
    color: $base-bg;
  }

  .header-logo {
    .system-logo {
        width: 60px;
        height: $header-bar-height - 20px;
      background: url('/public/images/icons/logo.png') no-repeat center;
      background-size: contain;
    }
  }
  .header-title {
    .dx-item-content {
      font-weight: 600;
      font-size: large;
    }
  }
}

.dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px 0 0;

  .screen-x-small & {
    padding: 0 20px;
  }
}

.dx-toolbar .dx-toolbar-item.dx-toolbar-button.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}

.header-title .dx-item-content {
  padding: 0;
  margin: 0;
}

.dx-theme-generic {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
  }
}